<!DOCTYPE html>
{% extends 'app_celebration_mode/base2.html' %}

{% load static %}

{% block body_block %}

<div style="height: 9rem;">

</div>
<div class="row">
    <div class="col-sm-12 col-xl-4">

    </div>
    <div class="col-sm-12 col-xl-4">
        <form action="{% url 'change_event' %}" method="GET">
            <!-- {% csrf_token %} -->
            <div class="text-center border border-light rounded p-4" style="backdrop-filter: blur(5px);background-color: rgba(255, 255, 255, 0.253);">
                <label class="fw-light fs-2 text-light" for="here">Change Event Mode</label>
                <br><br>    
                <select class="form-control w-75 mx-auto" id="" required name="event_mode">
                    <option value="">select an option</option>
                    {% for i in events %}
                        <option value="{{ i.id }}" {% if current_theme.theme_name.id == i.id %}selected{% endif %}>{{ i.event_name }}</option>
                    {% endfor %}
                </select>
                <br>
                <input class="btn btn-light" type="submit">
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-xl-4">

    </div>
</div>

{% endblock %}