<!DOCTYPE html>

{% extends 'app_celebration_mode/base.html' %}

{% load static %}

{% block body_block %}


<div>
    <!-- home page start -->
    <div id="Home_" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card text-bg-dark" style="border-radius:0;border: none;">
                    <img src="{% static 'images/bg/bg2(7600x2400).jpg' %}" class="card-img" style="height: 31.5vw;"
                        alt="...">
                    <div class="card-img-overlay text-center" style="display: flex;align-items: center;">
                        <div>
                            <div>
                                <div class="row">
                                    <div class="col-xl-3 col-sm-12"></div>
                                    <div class="col-xl-6 col-sm-12 decor_card bs_bg">
                                        <h5 class="card-title">Home page description1</h5>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Aperiam ipsum voluptatum totam? Quisquam odit error est at molestiae dolorum
                                            sequi ullam nulla, eveniet, neque esse amet, cumque asperiores cum nisi.</p>

                                        <p></p>
                                        <p class="card-text"><small>Last updated 3 mins ago</small></p>
                                    </div>
                                    <div class="col-xl-3 col-sm-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card text-bg-dark" style="border-radius:0;border: none;">
                    <img src="{% static 'images/bg/bg3(7600x2400).jpg' %}" class="card-img" style="height: 31.5vw;"
                        alt="...">
                    <div class="card-img-overlay text-center" style="display: flex;align-items: center;">
                        <div>
                            <div>
                                <div class="row">
                                    <div class="col-xl-3 col-sm-12"></div>
                                    <div class="col-xl-6 col-sm-12 decor_card bs_bg">
                                        <h5 class="card-title">Home page description1</h5>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Aperiam ipsum voluptatum totam? Quisquam odit error est at molestiae dolorum
                                            sequi ullam nulla, eveniet, neque esse amet, cumque asperiores cum nisi.</p>

                                        <p></p>
                                        <p class="card-text"><small>Last updated 3 mins ago</small></p>
                                    </div>
                                    <div class="col-xl-3 col-sm-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card text-bg-dark" style="border-radius:0;border: none;">
                    <img src="{% static 'images/bg/bg1(7600x2400).jpg' %}" class="card-img" style="height: 31.5vw;"
                        alt="...">
                    <div class="card-img-overlay text-center" style="display: flex;align-items: center;">
                        <div>
                            <div>
                                <div class="row">
                                    <div class="col-xl-3 col-sm-12"></div>
                                    <div class="col-xl-6 col-sm-12 decor_card bs_bg">
                                        <h5 class="card-title">Home page description1</h5>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            Aperiam ipsum voluptatum totam? Quisquam odit error est at molestiae dolorum
                                            sequi ullam nulla, eveniet, neque esse amet, cumque asperiores cum nisi.</p>

                                        <p></p>
                                        <p class="card-text"><small>Last updated 3 mins ago</small></p>
                                    </div>
                                    <div class="col-xl-3 col-sm-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#Home_" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#Home_" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- home page ends -->

    <p class="p-0 m-2"></p>

    <!-- about page start -->
    <div class="position-relative" style="z-index: 10;">
        <div id="wire_sm" style="margin-top: 3.8rem;" class="position-absolute start-0 top-0">
            <ul id="wire">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div id="about_" class="">
        <div class="bs_md bg-white">
            <h1 class="fw-light text-center p-3">About Us</h1>
        </div>
        <div class="row text-center p-3 bg-light">
            <div class="col-sm-12 col-xl-5">
                <img style="border-radius: 5px;" width="40%" src="{% static 'images/users/michael-dam-mEZ3PoFGs_k-unsplash.jpg' %}" alt="">
            </div>
            <div class="col-sm-12 col-xl-5">
                <br>
                <h3 class="fw-light text-center">About Us</h3>
                <br><br>
                <div style="display:flex;border:1px sloid black">
                <div style="align-items: center;">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ea excepturi dolorum voluptate, unde consequuntur laboriosam magni quae doloribus ab incidunt aperiam quia eius maxime facilis iste laborum saepe voluptas</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ea excepturi dolorum voluptate, unde consequuntur laboriosam magni quae doloribus ab incidunt aperiam quia eius maxime facilis iste laborum saepe voluptas</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ea excepturi dolorum voluptate, unde consequuntur laboriosam magni quae doloribus ab incidunt aperiam quia eius maxime facilis iste laborum saepe voluptas</p>
                </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-2"></div>
        </div>
    </div>
    <!-- about page ends -->

    <p class="p-0 m-2"></p>
    
    <!-- contact page start -->
    <div class="position-relative" style="z-index: 10;">
        <div id="wire_sm" style="margin-top:2.8rem;" class="position-absolute start-0 top-0">
            <ul id="wire">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div>
        <div id="contact_" class="bs_md">
            <h3 class="text-center fw-light p-3 bg-light bs_md">Contact Us</h3>
        </div>
    </div>
    <div id="about_" class="">
        <div class="row text-center p-3 bg-light">
            <div class="col-sm-12 col-xl-2"></div>
            <div class="col-sm-12 col-xl-5">
                <br>    
                <h3 class="fw-light text-center">Contact Us</h3>
                <br><br>
                <div style="display:flex;border:1px sloid black">
                <div style="align-items: center;">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ea excepturi dolorum voluptate, unde consequuntur laboriosam magni quae doloribus ab incidunt aperiam quia eius maxime facilis iste laborum saepe voluptas</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ea excepturi dolorum voluptate, unde consequuntur laboriosam magni quae doloribus ab incidunt aperiam quia eius maxime facilis iste laborum saepe voluptas</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ea excepturi dolorum voluptate, unde consequuntur laboriosam magni quae doloribus ab incidunt aperiam quia eius maxime facilis iste laborum saepe voluptas</p>
                </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-3">
                <img style="border-radius: 5px;" width="200vw" src="{% static 'images/users/michael-dam-mEZ3PoFGs_k-unsplash.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <!-- contact page start -->
</div>

{% endblock %}